# docs
docs/*
!docs/requirements.txt
!docs/data/
!docs/for_development/
!docs/img/
# デモファイル
demo/
demo.py
demo*.py
*demo.py
*deom*.py
# vscode
my-project.code-workspace
.vscode/settings.json
.vscode/tasks.json
# 隠しファイル
.gitmessage
.DS_Store
.env
# Python
__pycache__
*.pyc
*.log
# その他
.dll
.exe
.ini
.gitignore
skip.py
# test
!src/test/test_log/*.log