# docs
docs/*
!docs/requirements.txt
!docs/data/
!docs/for_development/
!docs/img/
# デモファイル
demo/
demo.py
demo*.py
*demo.py
*deom*.py
# その他
.gitmessage
.vscode/settings.json
.DS_Store
.dll
.exe
.ini
__pycache__
*.pyc